rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper function to check if the user is authenticated.
    function isAuthenticated() {
      return request.auth != null;
    }

    // Match any document in the `users` collection.
    match /users/{userId}/{document=**} {
      // Allow read and write access only if the user is authenticated
      // and their UID matches the userId in the document path.
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
