rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read, write, update, or delete documents in their own user folder.
    match /users/{userId}/{document=**} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}